

.products-container{
    width: 95%;
    padding: 30px;
    overflow-y: scroll;
}

/* Top Container */

.products-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-product-btn{
    color: white;
    padding: 10px 20px;
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(122, 198, 122);
}

/* Filter Container */

.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-filter{
    padding: 7px 10px;
    width: 35%;
    border-radius: 5px;
    border-width: 0px;
    border-left: 5px solid rgb(137, 177, 77);
}

.filter-right-container{
    display: flex;
    align-items: center;
}

/* Bottom Container */

.products-bottom-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
}